*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(./img/bg-intro-desktop.png);
    background-color: rgba(216, 112, 147, 0.521);
    background-blend-mode: screen;
    font-family: sans-serif;
    line-height: 1.5;
}
.container{
    width: 65%;
    background-color: white;
    padding: 50px;
    border-radius: 15px;
}
.faq-heading{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    text-transform: capitalize;
    color: navy;
}
.faq-container .question{
    text-transform: capitalize;
    font-size: 18px;
    cursor: pointer;
    font-weight: 700;
    padding: 12px 0px;
    border-bottom: solid 1px rgb(216, 206, 206);
    position: relative;
    margin-bottom: 12px;
    transition: all .8s ease;
}
.question::after{
    content: "+";
    position: absolute;
    right: 20px;
    bottom: 10px;
}
.answer{
    height: 0px;
    overflow: hidden;
    transition: all .8s ease;
}
.active .question{
    font-size: 14px;
}

.active .question::after{
    content: "-";
    font-size: 20px;
}

.active .answer{
    height: 100px;
}